[Desktop Entry]
Version=2.2
Type=Application
Terminal=false
Name=MDPCreator
Comment=Password Generator
Icon=pics/MDPIcon.ico
StartupNotify=false
Encoding=UTF-8
Categories=Utility;Security;Qt
