[Desktop Entry]
Version=2.2
Type=Application
Terminal=false
Name=MDPCreator
Comment=Password Generator
Icon=/usr/share/pixmaps/MDPIcon.ico
Exec=mdpcreator
Categories=Utility;Security;Qt
